* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* mengubah ke tengah */
    text-align: center;
    /* warna background body */
    /* background-color: black; */
    background-image: url(../gambar/batik.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.kotak {
    /* melengkungkan kotak */
    border-radius: 20px;
    /* mengatur lebar kotak */
    width: 100%;
    max-width: 650px;
    /* garis tepi kotak || 
        1px => ketebalan garis
        solid => tipe garis
        black => warna garis
    */
    /* border: 1px solid black; */
    /* menengahkan kotak */
    margin: auto;
    /* memberi jarak kotak dengan konten */
    padding: 20px;
    /* memberi warna background kotak */
    background-color: rgb(146, 0, 0);
    /* warna teks */
    color: white;
}

p {
    /* ukuran huruf */
    font-size: 14px;
    /* mengatur jarak antar baris teks */
    line-height: 24px;
}

.gambar {
    /* mensejajarkan 2 element || contoh : gambar dan tulisan */
    display: flex;
    align-items: center;
    justify-content: center;
    /* memberi jarak dengan bawah  */
    margin-bottom: 20px;
    /* memberi jarak dengan atas */
    margin-top: 20px;
}

.nama {
    /* warna teks gubung wayang */
    color: white;
}

iframe {
    /* Melengkungkan kotak video */
    border-radius: 20px;
    width: 560px;
    height: 315px;
}


/* Media Sosial */

.mediasosial {
    width: 100%;
    color: white;
    /* biar ke samping */
    display: grid;
    /* membagi menjadi 3 kolom */
    grid-template-columns: auto auto auto;
    /* Memberi jarak dengan kotak atas */
    margin-top: 80px;
}

.mediasosial {
    background-color: rgb(146, 0, 0);
    border-radius: 10px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .mediasosial {
        grid-template-columns: auto;
    }
    .kotak {
        width: 100%;
    }
    iframe {
        /* Melengkungkan kotak video */
        border-radius: 20px;
        width: 100%;
        height: 275px;
    }
    .nama {
        font-size: 24px;
    }
}

.media p {
    margin-top: -20px;
}